{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>SuperblyGreat | {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Social Chat Networking Website with 100% Privacy">
    <meta name="keywords" content="Free Social Chat Networking Website Superb Great">
    <script type="text/javascript" src="{% static 'superblygreatapp/js/jquery-2.1.4.min.js' %}"></script>
    <link href="{% static 'superblygreatapp/css/custom.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'superblygreatapp/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'superblygreatapp/icons/touch-icon-iphone-114.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'superblygreatapp/icons/touch-icon-iphone-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'superblygreatapp/icons/touch-icon-iphone-144.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'superblygreatapp/icons/touch-icon-iphone-144.png' %}">
    {% block head %}{% endblock %}
</head>
<body style="font-family:'Helvetica Neue', Arial, sans-serif;">
{% block header %}{% endblock %}
{% block content %}{% endblock %}
<footer>
    {% block footer %}{% endblock %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div style="text-align:center">
        superblygreat 2018
    </div>
</footer>
</body>
</html>
